/*---GENERAL---*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&family=Bebas+Neue&family=Raleway:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 400px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover {
  text-decoration: none;

}

p {
  font-size: 22px;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue', cursive;
}

.nucontainer {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: 0 auto;
}

.wrapper {
  min-height: 68vh;
}

button {
  padding: 15px 20px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #000000;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.header button:hover {
  color: #000000;
}

form{
  padding:20px 0;
}

form input,
form button {
  margin-right: 15px;
  padding: 8px 10px;

}

form button  {
  background:#222222;
  color:#ffffff;
}
.inset-style {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  background: #ffffff;
  box-shadow: inset -6px 6px 15px #e0e0e0, inset 6px -6px 15px #ffffff;
  -moz-box-shadow: inset -6px 6px 15px #e0e0e0, inset 6px -6px 15px #ffffff;
  -webkit-box-shadow: inset -6px 6px 15px #e0e0e0, inset 6px -6px 15px #ffffff;
}

.text--centered {
  text-align:center;
}

/*---HEADER---*/

.header {
  width: 100%;
  display: block;
  padding: 45px 0;
  background: #ffffff;
  box-shadow: inset -6px 6px 15px #e0e0e0, inset 6px -6px 15px #ffffff;
  -moz-box-shadow: inset -6px -6px 15px #e0e0e0, inset 6px -6px 15px #ffffff;
  -webkit-box-shadow: inset -6px -6px 15px #e0e0e0, inset 6px -6px 15px #ffffff;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%, rgba(15,92,163,0.5242471988795518) 100%);
  background: -webkit-linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%, rgba(15,92,163,0.5242471988795518) 100%);
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 0%, rgba(255,255,255,1) 65%, rgba(255,255,255,1) 100%, rgba(15,92,163,0.5242471988795518) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0f5ca3",GradientType=1);
}

.logocont {
  display: inline-block;
  text-align: left;
  padding: 0 15px;
}

.header-menu {
  padding-right:20px;
  float: right;
}

.header-menu ul li {
  display: inline-block;
  font-family: 'Bebas Neue', cursive;

}

.header-menu ul li:not(:last-child)::after {
  content: "|";
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  color:#e1e1e1;
}

.header-menu a,
.header-menu button {
  color: #666666;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 32px;
  padding: 0 10px;
  border: none;
}

.header-menu a:hover,
.header-menu button:hover {
  text-decoration: none;
  color: #000000;
}

.logoh2-1 {
  display: inline-block;
  color: #ffffff;
}

.main-logo {
  max-height: 100px;
  display: inline-block;
}

.logoh1 {
  display: inline-block;
  text-transform:uppercase;
  background: rgb(0,0,0);
  background: -moz-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 0%, rgba(77,168,255,1) 100%, rgba(18,93,165,1) 100%, rgba(15,92,163,0.5242471988795518) 100%, rgba(15,92,163,0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 0%, rgba(77,168,255,1) 100%, rgba(18,93,165,1) 100%, rgba(15,92,163,0.5242471988795518) 100%, rgba(15,92,163,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(34,34,34,1) 0%, rgba(77,168,255,1) 100%, rgba(18,93,165,1) 100%, rgba(15,92,163,0.5242471988795518) 100%, rgba(15,92,163,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#0f5ca3",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  vertical-align: bottom;
  font-weight: bold;
  padding: 10px 0 0 20px;
  font-size: 45px;
  line-height: 1;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

/*---MAIN CONTENT---*/

.App h1 {
  font-size: 75px;
  line-height: 1;
  margin-bottom: 0;
}

.App {
  background-color: #ffffff;
  margin-top:20px;
}

.App .nucontainer {
  padding: 60px 15px;
  box-sizing: border-box;
}

.App .nav-tabs {
  border-bottom: 2px solid #777777
}

.nav-tabs .nav-link {
  font-size: 20px;
  padding: 10px 19px;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
}

.App .nav-tabs .nav-link.active,
.App .nav-tabs .nav-item.show .nav-link {
  border-width: 2px;
  border-color: #777777 #777777 #fff;
  margin-bottom: -2px;
}

.contentCont .card {
  border: 2px solid #666666;
  box-shadow: 2px 3px 4px #e1e1e1;
  transition: all ease 0.5s;

}

.contentCont .card:hover {
  box-shadow: 1px 1px 8px #111111;
}

#arrow:hover {
  top: -10px;
}

.h5.card-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 32px;
  text-align: center;
}

.card-body button {
  width: 100%;
}

.button-h2 {
  font-size: 24px;
  margin: 0;
}

.App img {
  max-width: 100%;
}

.details-h2-1 {
  font-size: 54px;
}

/*---FOOTER---*/

.footer {
  width: 100%;
  display: block;
  background: url("../img/forge-bg.JPG") no-repeat top center;
  background-size: 190% auto;
  padding: 45px 0;
}

.logocont-footer {
  width: 100%;
  text-align: right;
  padding: 0 15px;
}

.footer-logo {
  max-height: 50px;
  display: inline-block;
}

/*---SIDEBAR---*/

.sidebar {
  display: inline-block;
}

.sidebar-inner {
  position: relative;
  margin: 35px 0;
}

.sidebar-title {
  font-family: 'Bebas Neue', cursive;  
  text-transform: uppercase;
  font-size: 45px;
  color: #555555;
  text-align: left;
  padding: 5px 10px;
}

.sidebar span {
  color: #000000;
  text-transform: uppercase;
  padding: 5px 5px;
  text-align: left;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.sidebar button:hover {
  background-color: #555555;
  cursor:pointer;
}

.sidebar button:hover span{
  color:#e1e1e1;
}

.sidebar-inner button.active {
  background: #000000;
}

.sidebar-inner button.active span{
  color:#e1e1e1;
}
.sidebar-inner button,
.sidebar-inner button:focus,
.sidebar-inner button:visited {
  border: none;
  width: 100%;
  text-align: left;
  padding: 2px 3px;
  margin:6px 0;
  outline: none;
}

nav,
button {
  line-height: 1rem;
}

/*---LANDING---*/

.landing-h2-1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 120px;
  line-height: 1;
  text-align: center;
}

.landing-h2-2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 295px;
  line-height: 1;
  margin-top: -20px;
  text-align: center;
}

.landing-p-1 {
  font-size: 36px;
  text-align: center;
  margin-top: -20px;
  line-height: 1;
}

.landing-p-2 {
  font-size: 26px;
  text-align: center;
  line-height: 1;
}

/*---LOADING---*/
.loading-gif{
  display:block;
  margin:0 auto;
}

/*---MAIN CONTENT---*/

.main-content {
  display: inline-block;
  vertical-align: top;
  margin: 15px 0 0 0;
}

.contentCont {
  display: block;
  position: relative;
  padding: 60px 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .logocont {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .logocont {
    text-align: center;
  }

  .main-logo {
    max-height: 70px;
  }

  .logoh2-2 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 450px) {

  .header-menu a,
  .header-menu button {
    font-size: 16px;
  }
}


/*  CHART  */
.gantt-chart_subtasks{
  margin-top:-30px;
}

[id^=reactgooglegraph] > div > div > svg > g:nth-child(8) > path:nth-child(1),
[id^=reactgooglegraph] > div > div > svg > g:nth-child(7) > rect:nth-child(1),
[id^=reactgooglegraph] > div > div > svg > g:nth-child(9) > text:nth-child(1){
  display:none;
}

[id^=reactgooglegraph] > div > div > svg > g:nth-child(3) > rect:nth-child(2){
  fill:rgba(18,93,165,1);
}

[id^=reactgooglegraph] > div > div > svg > g:nth-child(9) > text:nth-child(2){
  fill:#ffffff;
  font-weight:bold;
}